.div-location {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 3em 0;
  background-color: #252529;
  max-height: 100vh;
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: bottom;
  opacity: 0.1;
}

.title {
  position: relative;
  color: #fff;
  text-align: center;
  margin: 10px;
  z-index: 10;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 15px;
  font-weight: 600;
}

.div-operation {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.title-operation strong {
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 10;
  font-size: 14px;
  letter-spacing: 2px
}

.title-operation {
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 10;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 2px;
  margin: 0;
}

.container-map {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
  padding: 1em 0;
}

.container-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  margin: 0 auto;
}
.container-contato h1, p {
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.container-map iframe{
  position: relative;
  z-index: 10;
}
.adress {
  position: relative;
  color: #fff;
  text-align: center;
  padding: 0 3em;
  z-index: 10;
  width: 78%;
}

@media screen and (min-width: 900px) {

  .title {
    font-size: 72px;
    letter-spacing: 15px;
    font-weight: 600;
  }

  .div-operation {
    width: 40%;
  }

  .container-map {
    width: 80%;
    flex-wrap: wrap;
    z-index: 10;
    margin: 0 auto;
  }

  .container-map iframe {
    width: 40%;
  }

  .container-contato {
    width: 50%;
    line-height: 2;
    padding: 2em 0;
  }

}

@media screen and (min-width: 1100px) {

  .container-map {
    width: 60%;
    justify-content: space-evenly;
  }
  .div-operation {
    width: 30%;
  }

  .container-map iframe {
    width: 40%;
  }

}

@media screen and (min-width: 1400px) {
  .container-map {
    width: 60%;
  }
  .container-map iframe {
    width: 40%;
  }
}