.nav {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 1em;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.logo-mobile {
  width: 120px;
}

.itens {
  color: #fff;
  list-style-type: none;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  padding: 0;
  display: none;
}

.li {
  line-height: 2;
  padding: 0 10px;
}

.li:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.link {
  text-decoration: none;
  color: #fff;
}

.btn {
  display: none;
}

.btn-home {
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 10;
  padding: 10px;
}

.container-social-media-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-social-media-mobile i {
  font-size: 20px;
  padding: 0.3em;
  color: #020202;
}

.container-social-media-mobile span {
  font-size: 40px;
  padding: 0.5em;
  color: #000000;
  display: none;
}

@media screen and (min-width: 901px) {
  .nav {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    margin-bottom: -100px;
    box-shadow: none;
    background-color: #00000023;
  }

  .logo {
    width: 160px;
  }

  .logo-mobile {
    width: 120px;
    display: none;
  }

  .div-btn {
    display: none;
  }
  .itens {
    color: #fff;
    list-style-type: none;
    padding: 0;
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    flex-wrap: wrap;
    margin: 0;
  }
  .li:hover {
    box-shadow: none;
  }
  .link {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
  }
  .link:hover {
    border-bottom: solid 1px #fff;
    border-width: medium;
  }
  .btn {
    background-color: #242424;
    outline: none;
    border: solid 1px #414141;
    padding: 0.5em;
    border-radius: 5px;
    text-transform: uppercase;
  }
  .btn-home {
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 200px;
  }

  .btn-home i {
    color: #ffffff;
    font-size: 48px;
    z-index: 10;
  }
  .container-social-media-mobile {
    display: none;
  }

  .container-social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .container-social-media i {
    font-size: 20px;
    padding: 1em;
    color: #d9d9d9;
  }

  .container-social-media span {
    display: block;
    font-size: 36px;
  }
}

@media screen and (min-width: 1201px) {
  .itens {
    justify-content: center;
  }
}

@media screen and (min-width: 1401px) {
  .itens {
    width: 60%;
    justify-content: space-evenly;
  }
}
